@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  background-color: #ffffff;
  color: #0f172a;
}
.tabular-nums {
  font-variant-numeric: tabular-nums;
}
